<div class="row">
    <div class="container">
        <form [formGroup]="ragistrationForm" (ngSubmit)="submitData()">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="control-label">Full Name: </label>
                    <input type="text" class="form-control" formControlName="fullname" placeholder="Enter Full Name..."/>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label class="control-label">Email: </label>
                    <input type="text" class="form-control" formControlName="email" placeholder="Enter Email..."/>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label class="control-label">Phone: </label>
                    <input type="text" class="form-control" formControlName="phone" placeholder="Enter Phone..."/>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                   <button type="submit" class="btn btn-success" [disabled]="!ragistrationForm.valid">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>